*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.blender{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-width: 700px;
    height: 500px;
   /* background-color: red; */
    background-image: url(../img/licuadoraApagada.png);
    background-size: contain;
    background-position: center;
    background-repeat:no-repeat;
}

.blender.active {
    background-image: url(../img/licuadoraEncendida.gif);
}

.blender-button{
    margin: 370px auto 0px;
    width: 40px;
    height: 50px;
    /* border: 1px solid red; */
}